.highlight-correct, .highlight-incorrect {
    padding: 4px;
    border-radius: 8px;
}

.highlight-correct {
    background-color: hsl(113, 100%, 80%);
}

.highlight-incorrect {
    background-color: hsl(0, 100%, 80%);
}

#result-container {
    line-height: 35px;
    min-height: 134px;
    border-radius: 5px;
    border-color: rgb(173, 173, 173, 50%) !important;
    background-color: white;
}

body {
    background: linear-gradient(to right, #cfd9df , #e2ebf0);
}

.title{
    font-size: 30px;
}