<% if (isLoggined) { %>
    <a href="/form" class="decoration-none">Custom</a>
<% }else{ %> 
    <a href="#" data-target="#login" data-toggle="modal" name="check-spelling" id="add-spelling-btn"
        class="decoration-none">Custom</a>
<% } %>