<div class="row">
    <div class="col-12">
        <h3><a href="/" class="text-dark" title="Refresh">Spell check</a></h3>
    </div>
    <!-- INPUT -->
    <div class="col-lg-6">
        <% let copyDisabled = (output) ? '' : 'disabled="disabled"' %>
        <% var output = output || 'Waiting for result...' %>
        <% var input = input || '' %>
        <p class="lead d-flex justify-content-between align-items-center">
            <span>Input</span>
            <a href="/form" name="check-spelling" id="add-spelling-btn" class="">Custom</a>
        </p>
        <form method="post" action="" id="main-form">
            <textarea name="input" placeholder="" id="area-input" class="form-control" rows="5"><%=input%></textarea>
            <button type="button" id="check-btn" class="btn-sm btn btn-secondary mt-2">Check</button>
            <button type="button" id="paste-btn" class="btn-sm btn btn-secondary mt-2">Paste</button>
            <button <%=copyDisabled%> type="button" id="copy-btn" class="btn-sm btn btn-secondary mt-2">Copy</button>
        </form>
        <p id="message" class="badge badge-danger mt-3 d-none">Please type input first!</p>
    </div>

    <!-- OUTPUT -->
    <div class="col-lg-6 mt-4 mt-lg-0">
        <p class="lead">Result</p>
        <p id="result-container" class="border border-secondary p-2"> <%-output%> </p>
    </div>
</div>