<div class="row">
    <div class="col-12">
        <p class="title lead"><a href="/" class="text-dark decoration-none" title="Refresh">Spell check</a></p>
    </div>
    <!-- INPUT -->
    <div class="col-lg-6">
        <% let copyDisabled = (output) ? '' : 'disabled="disabled"' %>
        <% var output = output || 'Waiting for result...' %>
        <% var input = input || '' %>
        <p class="lead d-flex justify-content-between align-items-center">
            <span>Input</span>
            <%- include(`${__path.views}/templates/adminLink`) %>
        </p>
        <form method="post" action="" id="main-form">
            <textarea name="input" placeholder="" id="area-input" class="form-control" rows="5"><%=input%></textarea>
            <button type="button" id="check-btn" class="btn-sm btn btn-primary mt-2">Check</button>
            <button type="button" id="paste-btn" class="btn-sm btn btn-secondary mt-2">Paste</button>
            <button <%=copyDisabled%> type="button" id="copy-btn" class="btn-sm btn btn-secondary mt-2">Copy</button>
        </form>
        <p id="message" class="badge badge-danger mt-3 d-none">Please type input first!</p>
    </div>

    <!-- OUTPUT -->
    <div class="col-lg-6 mt-4 mt-lg-0">
        <p class="lead">Result</p>
        <p id="result-container" class="border border-secondary p-2"> <%-output%> </p>
    </div>
    <div class="col-12 text-right">
        <p class="text-muted">
            Developed by <a href="https://www.facebook.com/peteranh99"
                class="text-secondary decoration-none font-weight-bold">Peter Anh</a>
        </p>
    </div>
</div>