<!DOCTYPE html>
<html>

<head>
    <%- include(`${__path.views}/elements/head`) %>
</head>

<body>
    <div class="container mt-4">
        <%- body%>

        <!-- MODAL -->
        <%- include(`${__path.views}/templates/modal`) %>

    </div>

    <!-- SCRIPTS -->
    <%- include(`${__path.views}/elements/scripts`) %>

</body>

</html>